/* Яндекс шрифты */
@font-face {
  font-family: 'YS Text';
  src: url('/fonts/text-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('/fonts/text-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('/fonts/text-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
