/* Яндекс шрифты */
@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/3/text-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/3/text-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/3/display-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Display';
  src: url('https://yastatic.net/s3/home/fonts/ys/3/display-heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
